.formulario{
padding: 5rem;
display: flex;
justify-content: center;
background: var(--brancoleve);
}
.formulario__home{

  display: flex;
  flex-direction: column;
 
  max-width: 300px;
  height: 300px;
  justify-content:space-between ;
}
.formulario__home legend{
  text-align: center;
  font-weight: 700
;
}
.formulario__home input{
  padding: 1rem;
}

@media screen and (min-width:0) {
 
}
@media screen and (min-width:768px) {
  
  
}
@media screen and (min-width:992px) {

  
}
@media screen and (min-width:0) {
.formulario__home{
  width: 100%;
}
}
@media screen and (min-width:768px) {
  .formulario__home{
    width: 40%;
  }
  
}
@media screen and (min-width:992px) {

  
}
